@page "/"
@using GameCalculatorLibrary.BLL
@using GameCalculatorLibrary.Models

@inject GameServices _services

<PageTitle>Index</PageTitle>

<h1>yo</h1>

@foreach(var game in gameList)
{
    <div>

        <h2>@game.GameName</h2>
        <p>@game.MaximumEnergyCap</p>
        <p>@game.MinutesPerEnergy</p>
        <p>@game.ID</p>
    </div>
}



@code {
    public List<Game> gameList = new List<Game>();


    protected override void OnInitialized()
    {
        gameList = _services.PopulateGameList();
    }



}